* {
  box-sizing: border-box;
  margin: 0px;
}
.bg-container {
  background-image: url("./Images/bodybackground2.jpg");
  background-size: cover;
  padding: 1rem;
  height: 100vh;
}

/* .bg-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(76, 76, 102);
  background: linear-gradient(233deg, #e56420, #c22525, #3d9c31, #37bbde);
  width: 100%;
  height: 100vh;
  background-blend-mode: hard-light;
  animation: hue-rotate 3s linear infinite;
}

@keyframes hue-rotate {
  from {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
} */
.suggetion {
  color: rgb(113, 103, 103);
}
.form-container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 80vw;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
}
@media screen and (min-width: 768px) {
  .form-container {
    height: 40vh;
  }
}
.document-heading {
  margin: 1.2rem;
}
@media screen and (max-width: 768px) {
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #ff8c00;
    padding: 1rem;
    border-radius: 5px;
  }
  .file-input-field {
    margin: 1rem;
  }
}
.file-label {
  font-weight: 600;
  color: #524d4d;
}
.file-input-field {
  border: 1px solid #b0a8a8;
  padding: 0.4rem;
  border-radius: 5px;
  background-color: bisque;
  cursor: pointer;
}
.upload-btn {
  height: 32px;
  width: 70px;
  border: none;
  background-color: #ff8c00;
  border-radius: 5px;
  color: #008080;
  font-weight: 700;
  cursor: pointer;
}
.upload-btn:hover {
  color: #fff;
  transition: 900ms;
}
@media screen and (max-width: 768px) {
  .upload-btn {
    background-color: rgb(59, 112, 5);
    color: #fff;
  }
}
.files-container {
  background-color: aquamarine;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.group-of-files {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}
.list-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
.images {
  width: 150px;
  height: 150px;
  margin: 2px;
  border-radius: 8px;
}
.delete-btn {
  height: 32px;
  width: 70px;
  border: none;
  background-color: #f51919;
  border-radius: 5px;
  color: #e9eeee;
  font-weight: 700;
  cursor: pointer;
}
.no-files-container {
  text-align: center;
}
span {
  font-weight: 800;
  color: #524d4d;
  margin: 10px;
}
